---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Lab — Aymeric Fremont">
  <div class="flex items-center justify-center h-full">
    <span
      class="text-[14px] leading-6 text-lime-11 opacity-50 font-mono"
    >
      // coming soon
    </span>
  </div>
</BaseLayout>
